 
  a {
    text-decoration: none;
  }
  
  .container {
    align-items: center;
    display: flex;
    margin: auto;
    max-width: 600px;
    width: 75%;
    padding-left: 0px;
  }
  
  .calendar {
    margin: 0;
    background: #dadada;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
  }
  
  .front {
    transform: rotateY(0deg);
  }
  
  .current-date {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 30px 30px;
    padding-bottom: 10px;
  }
  
  .current-date h1 {
    color: black;
    font-size: 1.4em;
    font-weight: 300;
  }
  
  .week-days {
    color: black;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 40px;
  }
  
  .days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .weeks {
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  
  .weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .last-month {
    opacity: .3;
  }
  
  .weeks span {
    padding: 5px;
    text-align: center;
  }
  
  .weeks span.active {
   color: red;
   margin-bottom: -10px;
  }
  
  .weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
  }
  
  .event {
    position: relative;
  }
  
  .event:after {
    content: '•';
    color: #f78536;
    font-size: 1.4em;
    position: absolute;
    right: -4px;
    top: -4px;
  }
  
  ul {
    list-style: none;
  }

  .week-days li {
    padding: 5px;
    text-align: center
  }
  