.livres {
    text-align: center;
}

details {
    width: 75%;
    min-height: 5px;
    max-width: 700px;
    padding: 45px 70px 45px 45px;
    margin: 0 auto;
    font-size: 22px;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all .3s;
    position: relative;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  }
  
  details + details {
    margin-top: 20px;
  }
  
  details[open] {
    min-height: 50px;
    background-color: #bebebea2;
    box-shadow: 2px 2px 20px rgba(0,0,0,.2);
  }
  
  details p {
    color: white;
    font-weight: 300;
    position: relative;
    z-index: 900;
  }
  
  summary {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    
  }
  
  summary:focus {
    outline: none;
    
  }
  
  summary:focus::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  summary::-webkit-details-marker {
    display: none
  }
  
  .control-icon {
    transition: .3s ease;
    pointer-events: none;
  }
  
  .control-icon-close {
    display: none;
  }
  
  details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
  }
  
  details[open] .control-icon-expand {
    display: none;
  }
  
  button {
    color: rgba(0, 0, 0, 0.63);
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
    border:none;
    outline: none;
    background: none;
    cursor: pointer;
  }