{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'css/add_dst.css') }}"
/>

<div>
  <br />
  <form method="post" enctype="multipart/form-data" class="centerIt">
    <form method="POST" enctype="multipart/form-data">
      <p>Titre:</p>
      <input type="title" name="title" required="" maxlength="45" /><br /><br />
      <p>Fichiers:</p>
      <input
        type="file"
        name="file"
        multiple=""
        accept="image/png, image/jpg, image/jpeg, image/jfif, .doc, .docx, .pdf, .odt, .pptx, .xls"
        required=""
      />
      <br /><br />
      <input type="submit" value="Envoyer" class="submit_btn" />
    </form>
    <br />
  </form>
</div>

{% endblock %}
