{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename= 'css/add_calendar.css') }}"
/>

<div>
  <br />
  <form method="post" enctype="multipart/form-data" class="centerIt">
    <form method="POST" enctype="multipart/form-data">
      <p>Titre:</p>
      <input type="title" name="title" required="" maxlength="45" /><br /><br />
      <p>Dates:</p>

      <input type="date" name="dates" required="" /><br /><br />
      <p>Description:</p>
      <textarea
        rows="5"
        cols="60"
        name="description"
        placeholder="Description"
        required=""
      ></textarea
      ><br />
      <hr />
      {% for f in follow %}
      <label class="container"
        >{{f.name}}
        <input type="checkbox" name="{{f.name}}" />
        <span class="checkmark"></span>
      </label>
      <br />
      {% endfor %}
      <hr />
      <input
        type="submit"
        value="Envoyer"
        class="submit_btn"
        onclick="toaster()"
      />
    </form>
    <br />
  </form>
</div>

{% endblock %}
