<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/navBar.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/toaster.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/checkboxes.css') }}"
    />

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script
      src="https://kit.fontawesome.com/yourcode.js"
      crossorigin="anonymous"
    ></script>

    <title>Tourtle</title>
  </head>
  <body>
    <div class="begin"></div>
    <div class="topBar">
      <nav class="navbar">
        <a href="/"
          ><img src="{{ url_for('static', filename='icons/house.svg') }}"
        /></a>
        <a href="/messages">
        {% if unread %}
        <img src="{{ url_for('static', filename='icons/unreadMessage.svg') }}"/>
        {% endif %}
        {% if not unread %}
          <img src="{{ url_for('static', filename='icons/messages.svg') }}"/>
        {% endif %}
        </a>
        <a href="/"
          ><img
            id="title"
            src="{{ url_for('static', filename='icons/titre.png') }}"
        /></a>
        <a href="/search"
          ><img src="{{ url_for('static', filename='icons/search.svg') }}"
        /></a>
        <a href="/{{current_user.id}}/userInfos"
          ><img src="{{ url_for('static', filename='icons/user.png') }}"
        /></a>
      </nav>
    </div>
    <div>{% block content %} {% endblock %}</div>

    <div class="bottomBar">
      <nav class="navbar2">
        <a href="/write_blog"
          ><img src="{{ url_for('static', filename='icons/blog.png') }}"
        /></a>
        <a href="/dst"
          ><img src="{{ url_for('static', filename='icons/test.png') }}"
        /></a>
        <a href="/calendar"
          ><img src="{{ url_for('static', filename='icons/calendar.png') }}"
        /></a>
        <a href="/livres"
          ><img src="{{ url_for('static', filename='icons/book.png') }}"
        /></a>
      </nav>
    </div>
    <div class="end"></div>

    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>

<!-- 
Bonjour à toi étranger, toi qui passe par là sache que les bicornes vont envahir le monde!! 
Bon en vrai c'est pas très zentil de regarder le code source !! Je sais pas ce que tu veux tenter mais je te le déconseille!! passe ton chemin mon, petit!
Enfin bref! passe une bonne journée sinon...

signé:

88888888ba  88                                                           
88      "8b ""                                                           
88      ,8P                                                              
88aaaaaa8P' 88  ,adPPYba,  ,adPPYba,  8b,dPPYba, 8b,dPPYba,   ,adPPYba,  
88""""""8b, 88 a8"     "" a8"     "8a 88P'   "Y8 88P'   `"8a a8P_____88  
88      `8b 88 8b         8b       d8 88         88       88 8PP"""""""  
88      a8P 88 "8a,   ,aa "8a,   ,a8" 88         88       88 "8b,   ,aa  
88888888P"  88  `"Ybbd8"'  `"YbbdP"'  88         88       88  `"Ybbd8"'  
                                                                         

                                                  /
                                                  .7
                                       \       , //
                                       |\.--._/|//
                                      /\ ) ) ).'/
                                     /(  \  // /
                                    /(   J`((_/ \
                                   / ) | _\     /
                                  /|)  \  eJ    L
                                 |  \ L \   L   L
                                /  \  J  `. J   L
                                |  )   L   \/   \
                               /  \    J   (\   /
             _....___         |  \      \   \```
      ,.._.-'        '''--...-||\     -. \   \
    .'.=.'                    `         `.\ [ Y
   /   /                                  \]  J
  Y / Y                                    Y   L
  | | |          \                         |   L
  | | |           Y                        A  J
  |   I           |                       /I\ /
  |    \          I             \        ( |]/|
  J     \         /._           /        -tI/ |
   L     )       /   /'-------'J           `'-:.
   J   .'      ,'  ,' ,     \   `'-.__          \
    \ T      ,'  ,'   )\    /|        ';'---7   /
     \|    ,'L  Y...-' / _.' /         \   /   /
      J   Y  |  J    .'-'   /         ,--.(   /
       L  |  J   L -'     .'         /  |    /\
       |  J.  L  J     .-;.-/       |    \ .' /
       J   L`-J   L____,.-'`        |  _.-'   |
        L  J   L  J                  ``  J    |
        J   L  |   L                     J    |
         L  J  L    \                    L    \
         |   L  ) _.'\                    ) _.'\
         L    \('`    \                  ('`    \
          ) _.'\`-....'                   `-....'
         ('`    \
          `-.___/   



-->
