{% extends 'base.html' %} {% block content %}

<link
rel="stylesheet"
href="{{ url_for('static', filename= 'css/calendar.css') }}"
/>

<link
rel="stylesheet"
href="{{ url_for('static', filename= 'css/all_events.css') }}"
/>


<div class="container">
    <div class="calendar">
      <div class="front">
        <div class="current-date">
          {% if id_month > 0 %}
          <h1>
            <a href="/{{id_month-1}}/calendar">-</a>
          </h1>
          {% endif %}
          <h1>{{day}}</h1>
          <h1>
            <a href="/{{id_month+1}}/calendar">+</a>
          </h1>
        </div>
        <hr>

        <div class="current-month">
          <div class="weeks">
            <div class ="days">
                <span class="week-days">LU</span>
                <span class="week-days">MA</span>
                <span class="week-days">ME</span>
                <span class="week-days">JE</span>
                <span class="week-days">VE</span>
                <span class="week-days">SA</span>
                <span class="week-days">DI</span>

            </div>
            <div class="first">
          {% for i in range(7) %}
            {% if month[i].day|int >= 20 %}
            <span class="last-month">{{month[i].day}}</span>
            {% endif %}
            {% if not month[i].day|int >= 20 %}
            
            {%if month[i].event != "" %}
                <a href="#{{month[i].event}}-event"><span class="active">{{month[i].day}}</span></a>
            
            {%endif%}
            
            {%if month[i].event == "" %}
            <span>{{month[i].day}}</span>
            {%endif%}

            {% endif %}
                
          {% endfor %}
        </div>
          
        <div class="second">
            {% for i in range(7) %}
            {%if month[i+7].event != "" %}
            <a href="#{{month[i+7].event}}-event"><span class="active">{{month[i+7].day}}</span></a>
        {%endif%}
        
        {%if month[i+7].event == "" %}
        <span>{{month[i+7].day}}</span>
        {%endif%}
            {% endfor %}
          </div>

           <div class="third">
          {% for i in range(7) %}
          {%if month[i+14].event != "" %}
          <a href="#{{month[i+14].event}}-event"><span class="active">{{month[i+14].day}}</span></a>
      {%endif%}
      
      {%if month[i+14].event == "" %}
      <span>{{month[i+14].day}}</span>
      {%endif%}
          {% endfor %}
        </div>

            <div class="fourth">
          {% for i in range(7) %}
          {%if month[i+21].event != "" %}
          <a href="#{{month[i+21].event}}-event"><span class="active">{{month[i+21].day}}</span></a>
      {%endif%}
      
      {%if month[i+21].event == "" %}
      <span>{{month[i+21].day}}</span>
      {%endif%}
          {% endfor %}
        </div>

           <div class="fifth">
          {% for i in range(7) %}


           {% if month[i+28].lastMonth == True %}
            <span class="last-month">{{month[i+28].day}}</span>
            {%endif%}

            {% if month[i+28].lastMonth == False %}

            {%if month[i+28].event != "" %}
            <a href="#{{month[i+28].event}}-event"><span class="active">{{month[i+28].day}}</span></a>
            {%endif%}
        
            {%if month[i+28].event == "" %}
            <span>{{month[i+28].day}}</span>
            {%endif%}
            {%endif%}


          {% endfor %}
        </div>
        <div class="sixth">
            {% for i in range(7) %}

            {% if month[i+35].lastMonth == True %}
            <span class="last-month">{{month[i+35].day}}</span>
            {%endif%}

            {% if month[i+35].lastMonth == False %}

            {%if month[i+35].event != "" %}
            <a href="#{{month[i+35].event}}-event"><span class="active">{{month[i+35].day}}</span></a>
            {%endif%}
        
            {%if month[i+35].event == "" %}
            <span>{{month[i+35].day}}</span>
            {%endif%}
            {%endif%}


            {% endfor %}
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
<br>
<p class="center">
    <a href="/add_event" class="center" id="addEvent">Ajouter un évènement</a>
  </p>
<br>
<hr>
{% set ns2 = namespace(i=-1) %}
{% for post in posts %}
{% set ns2.i = ns2.i+1 %}
{% set ns = namespace(followed=False) %}

{% for f in post.types.split(' ')%}

{% if f in current_user.follow.split(' ') %}

{% set ns.followed = True %}

{% endif %}

{% endfor %}


<div class="post">
{% if not ns.followed %}
    <details id="{{post.id}}-event">
{% endif %}
{% if ns.followed %}
    <details class="followed" id="{{post.id}}-event">
{% endif %}
        <summary>
            {{post.title}} : {{post.dates}}
        </summary>
        <p class="little">{{post.types}}</p>
        <hr>
        <p class="little">
        {%for line in post.description_.split('\n')%}
        {{line}}
        <br>
        {% endfor %}
    </p>
<br>
<p class="little">
 Organisateur: <a href="/{{post.creator_id}}/userInfos" class="linkedName">{{post.creator_name}}</a>
</p>

{% if post.creator_id == current_user.id %}

{% set ns3 = namespace(display=True) %}
{% if suscribers[ns2.i]|length >=1 %}


{% for sus in suscribers[ns2.i] %}
{% if sus %}
{% if ns3.display %}
      <hr>
      Inscrits:
{% set ns3.display = False %}
{% endif %}
<p class="suscriber">{{sus.username}}</p>
{% endif %}
{% endfor %}
{% endif %}

<hr>

{% endif %}
{% if current_user.id|string in post.participants.split(' ') %}
<form method="POST" action="{{ url_for('unsuscribe', id=post['id']) }}" >
    <input type="submit" value="Se désisncrire" id="suscriveEvent"
          onclick="return confirm('Voulez-vous vraiment vous désinscrire?')">
    </form>
{% endif %}

{% if current_user.id|string not in post.participants.split(" ") %}
<form method="POST" action="{{ url_for('suscribe', id=post['id']) }}" >
    <input type="submit" value="S'inscrire" id="suscriveEvent"
          onclick="return confirm('Voulez-vous vraiment vous inscrire?')">
     </form>
{% endif %}
{% if post.creator_id == current_user.id or current_user.admin == 1 %}
<hr>
<form method="POST" action="{{ url_for('delete_event', id=post['id']) }}" >
    <input type="submit" value="Supprimer" id="deleteEvent"
          onclick="return confirm('Voulez-vous vraiment supprimer cet évènement?')">
</form>
{% endif %}
    </details>

</div>
{% endfor %}



<script src="static/js/openEvent.js"></script>

{% endblock %}