{% extends 'popup.html' %} {% block content %}

<div class="login-box">
    <h2>S'inscrire</h2>
    {% if message %}
    <p class="messages">{{ message }}</p>
    {% endif %}
    <form action="" method = "POST">
      <div class="user-box">
        <input type="email" name="email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="text" name="username" required="">
        <label>Nom d'utilisateur</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Mot de passe</label>
      </div>
      <div class="center">

        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <input type = "submit" value = "Valider" />
          </a>
        </form>
    
    <h3>Vous avez déjà un compte? </h3>
<a href = "{{url_for('login') }}" class="subscribe">Se connecter</a>
      </div>

</div>
{% endblock %}
